:root{
--cardbackground: linear-gradient(1deg, rgb(74, 195, 255) 0%,rgb(74, 195, 255) 100%);
--backgroundhover: linear-gradient(45deg, rgba(104,211,130,1) 0%,rgba(73,177,150,1) 100%);
}






body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: black;
  background-color: transparent !important;
}

html{
  background-image:url('images/background1.jpg');
  background-size: cover;
  
}