.dashboardcontainer{
    padding-left: 70px;
}

@media (max-width: 768px) {
.dashboardcontainer{
    padding-left: 10px;
}
}

.dashboarduserwrapper{
    background: grey;
    padding-top: 20px;
    min-height: 200px;
    
}

.dashboarduserwrapper:hover{
    background: var(--backgroundhover);
    color: white;    
}

.dashboarduserheading p{
    float:right;
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.dashboarduserheading h2{
    float:left;
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.openordercard{
    background: var(--darkgreybackground);
    min-height: 200px;
    text-align: center;
    color: grey;
    padding-top: 20px;
}

.openordercard:hover{
    background: var(--backgroundhover);
}

.openordercard h2{
    font-size: 6rem;
    text-align: center;
    color: white;
}


.highprioritycard{
    background: var(--darkgreybackground);
    
    min-height: 200px;
    text-align: center;
    color: grey;
    padding-top: 20px;
}

.highprioritycard:hover{
    background: var(--backgroundhover);
}

.highprioritycard h2{
    color: white;
    font-size: 6rem;
}

.messagecard{
    background: var(--greybackground);
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
    padding: 0px;
   
}

.messagecard img {
    
    
    top:0;
    left:0;
    opacity: 0.1;
    object-fit: contain;
    width: 100%;
    height: 100%;
    z-index: -100;
   
    

}